absl-py
aiohttp
aiosignal
async-timeout
attrs
beautifulsoup4
bs4
cachetools
certifi
charset-normalizer
click


clip-by-openai
cycler
datasets
dill
docker-pycreds
emoji
evaluate
filelock
fonttools
frozenlist
fsspec
ftfy
gitdb
GitPython
google-auth
google-auth-oauthlib
grpcio
huggingface-hub
idna
ignite
importlib-metadata
joblib
kiwisolver
Markdown
MarkupSafe
matplotlib
multidict
multiprocess
mypy-extensions
nltk
numpy
nvidia-cublas-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
oauthlib
opencv-python
packaging
pandas
pathtools
Pillow
promise
protobuf
psutil
pyarrow
pyasn1
pyasn1-modules
pyparsing
pyre-extensions
python-dateutil
pytorch-ignite
pytorch-metric-learning
pytz
PyYAML
regex
requests
requests-oauthlib
responses
rsa
sacremoses
scikit-learn
scipy
seaborn
sentry-sdk
setproctitle
shortuuid
six
sklearn
smmap
soupsieve
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
threadpoolctl
tokenizers
torchaudio
torcheval
torchmetrics
torchtnt
torchvision
tqdm
transformers
tweepy
typing-inspect
typing_extensions
urllib3
wandb
wcwidth
Werkzeug
wrapt
xxhash
yarl
zipp
